<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre o Projeto</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
      <%- include('partials/header') %>
      
      <main class="container">
      <p>
        O projeto Desvendando o Código Escolar mostra na prática como o Express
        e o EJS podem trabalhar juntos para exibir informações.
      </p>
    </main>
  </body>
</html>
